<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Vibes</title>
</head>
<body>
    <h1>Welcome to the News Vibes</h1>

    <p>Choose an option:</p>

    <form action="{{ url_for('frontend.FrontendNewsSearch') }}" method="get">
        <button type="submit">Search Specific News</button>
    </form>

    <form action="{{ url_for('frontend.FrontendNewsAll') }}" method="get">
        <button type="submit">See All News</button>
    </form>
</body>
</html>
